@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: #dddddd00;
}
  
::-webkit-scrollbar-thumb {
    background: #dddddd00;
    border-radius: 0px;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 15%;
    position: fixed;
    bottom: 12.65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 1.3vh;
    line-height: 4vh;
    position: relative;
    color: #000000;
    z-index: 10;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.progress-bar-container {
    width: 100%;
    height: 4vh;
    background: rgba(0, 0, 0, 0.246);
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 2px;
}

.progress-bar {
    background-color: #cfb53b !important;
    width: 0%;
    height: 4vh;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}